DB_HOST=db
DB_PORT=5432
DB_USER=change_me
DB_PASS=change_me
DB_NAME=fastapi_db
TEST_DB_HOST=test_db
TEST_DB_PORT=5432
TEST_DB_USER=change_me
TEST_DB_PASS=change_me
TEST_DB_NAME=fastapi_test_db
SECRET_KEY=change_me_to_a_long_random_secret
ACCESS_TOKEN_EXPIRE_MINUTES=30
AUTH_COOKIE_NAME=access_token
